In [2]:
import os

In [3]:
os.getcwd()

'C:\\Users\\asus'

In [8]:
import pandas

In [13]:
Data1 = pandas.read_csv(r'C:\Users\asus\Documents\Education\Data Trained\Dummy Data\Salary.tsv',sep='\t')

In [14]:
print(Data1)

       Name  Age  Salary
0   Alister   32   60000
1     Karen   26   40000
2    Alisha   26   50000
3    Samuel   26   20000
4  Florence   26   25000
5     Savio  262    5000
6      Paul   26   25000

In [21]:
Data2 = pandas.read_excel(r'C:\Users\asus\Documents\Education\Data Trained\Salary.xlsx')
print(Data2)

       Name  Age  Salary
0   Alister   32   60000
1     Karen   26   40000
2    Alisha   26   50000
3    Samuel   26   20000
4  Florence   26   25000
5     Savio   26   25000
6      Paul   26   25000

In [29]:
Data3 = pandas.read_csv(r'C:\Users\asus\Documents\Education\Data Trained\Salary.csv')
print(Data3)

       Name  Age  Salary
0   Alister   32   60000
1     Karen   26   40000
2    Alisha   26   50000
3    Samuel   26   20000
4  Florence   26   25000
5     Savio   26   25000
6      Paul   26   25000